* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.header {
	width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/banner.jpeg);
	background-size: cover;
	background-repeat: no-repeat, no-repeat;
	background-position: top center;
}

.header h1 {
	color: #ffffff;
	text-align: center;
	padding-top: 10%;
	padding-bottom: 10%;
}

.fact {
	color: #ffffff8f;
	text-align: justify;
	float: left;
}

.fact_text {
	margin-top: 60%;
}

.globe {
	width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95));
}

.globe:after {
	color: #ffffff;
	content: "";
	display: table;
	clear: both;
}

.globe h2 {
	color: #ffffff;
	text-align: center;
	padding-top: 3%;
	padding-bottom: 1%;
}

#globe_ios_vs_android {
	float: left;
	width: 46%;
	margin-left: 4%;
}

#streamgraph {
	float: left;
	width: 46%;
	margin-left: 2%;
	margin-right: 2%;
}

#market_cap {
	float: left;
	width: 46%;
	margin-left: 4%;
}

#barchart {
	float: left;
	width: 46%;
	margin-left: 4%;
}

.vega-bind-name {
	color: #ffffff;
}